{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customjs %}

    <script type="text/javascript" class="init">
        $(document).ready(async function () {
            get_stats("count-user")
            get_stats("count-groups")
            get_stats("count-computers")
            get_stats("count-domains")
            get_stats("count-websites")
            get_stats("count-virtualmachines")
            get_stats("count-ucstack-usermailboxes")
            get_stats("count-ucstack-resourcemailboxes")
            get_stats("count-certificate-authorities")
            get_stats("count-certificates")
            get_stats("count-wifistack-nodes")
            get_stats("count-wifistack-domains")
            get_stats("count-customers")
        })

    </script>
    <script type="text/javascript">
        async function get_stats(api_url) {
            $.ajax({
                type: 'GET',
                url: api_url,
                success: function (data) {
                    if (data.count) {
                        $('#stats-no-content').remove()
                        $('#ajax-stats-content').append(`
                            <div class="col-sm-6 col-xl-3 stats_counter" data-name="${data.id}">
                            <div class="card card-body shadow">
                                <div class="media">
                                    <div class="mr-3 align-self-center">
                                        <i class="${data.icon} icon-3x" style="color: ${data.color}"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <h3 class="font-weight-semibold mb-0">${data.count}</h3>
                                        <span class="text-uppercase font-size-sm text-muted">{% trans "Total " %}${data.name}</span>
                                    </div>
                                </div>
                            </div>
                        </div>`
                        );
                    }
                    reorder_stats()
                }
            })
        }

        function reorder_stats() {
            var $wrapper = $('#ajax-stats-content');

            $wrapper.find('.stats_counter').sort(function (a, b) {
                return +a.dataset.name - +b.dataset.name;
            })
                .appendTo($wrapper);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{% trans "Current usage of Resources:" %}</h2>
        </div>
        <div id="ajax-stats-content" class="col-md-12 row">
            {#Placeholder if there is nothing to display#}
            <div id="stats-no-content" class="card-body align-self-center">
                <h4><i>{% trans "Nothing to display" %}</i></h4>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="card">
        <div class="row">
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h2>{% trans "Last Changes:" %}</h2>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div id="ajax-changes-content" class="col-md-12 row">
                                {#Placeholder if there is nothing to display#}
                                <div id="changes-no-content" class="card-body align-self-center">
                                    <h4><i>{% trans "Nothing to display" %}</i></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h2>{% trans "More Information:" %}</h2>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-12 row">
                                <div class="col-sm-2 col-xl-12">
                                    <div class="card card-body shadow">
                                        <div class="media">
                                            <div class="mr-2 align-self-center">
                                                <i class="icon-key icon-3x" style="color: blue"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h3 class="font-weight-semibold mb-0 text-center">{% trans "Last password reset:" %}
                                                    {{ reset_days }} {% trans "days ago" %}</h3>
                                                <p class="mb-0 text-center">{{ reset_day }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xl-12">
                                    <div class="card card-body shadow">
                                        <div class="media">
                                            <div class="mr-2 align-self-center">
                                                <i class="icon-warning2 icon-3x" style="color: orange"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h3 class="font-weight-semibold mb-0 text-center">{% trans "Last reported incidents:" %}</h3>
                                                <ul class="list-group list-group-flush">
                                                    {% if reported_incidents %}
                                                        {% for incidents in reported_incidents %}
                                                            <li class="list-group-item">{{ incidents }}</li>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div id="changes-no-content"
                                                             class="align-self-center">
                                                            <h4><i>{% trans "Nothing reported" %}</i></h4>
                                                        </div>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}